<!-- templates/index.html -->
<!DOCTYPE html>
    <head>
        <title>AutoComplete - Web Project</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <input type="text" class="input__text" placeholder="Enter some text" spellcheck="false"/>
        <div class="predict__text">
            <div class="text__part">
                this is auto
            </div><!--
            --><div class="predict__part">
                complete
            </div>
        </div>
        <footer>
            <div class="credits">
                Made with ❤ by Ritesh
            </div>
        </footer>
        <script src="/static/js/script.js"></script>
    </body>
</html>